<a href="https://colab.research.google.com/github/herr-hollis/Analyse-Telco-Custer-Churn-using-XGBoost/blob/main/Data_Workshop_Covid_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the Data Visualization Workshop!

## Import packages

In [ ]:
from datetime import datetime, timedelta
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Import Malaysia's Covid cases, vaccination by state and country

These data sources are from the goverment and are updated on a daily basis. Some dataset might only have t-1 or t-2 data.

In [ ]:
# Malaysia Population Dataset
population_df = pd.read_csv('https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/static/population.csv')

# Malaysia Covid Cases Dataset
case_my = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_malaysia.csv'
case_my = pd.read_csv(case_my, parse_dates=['date'])

# Malaysia Covid Death Cases Dataset
death_my = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/deaths_malaysia.csv'
death_my = pd.read_csv(death_my, parse_dates=['date'])

# Malaysia Covid Vaccination Dataset
vax_my = 'https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/vax_malaysia.csv'
vax_my = pd.read_csv(vax_my, parse_dates=['date'])

# Malaysia Covid Vaccination by State Dataset
vax_state = 'https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/vax_state.csv'
vax_state = pd.read_csv(vax_state)

In [ ]:
# Show top two rows
population_df.head(2)

      state  idxs       pop    pop_18   pop_60
0  Malaysia     0  32657400  23409600  3502000
1     Johor     1   3781000   2711900   428700

## Check Malaysia's latest covid cases

In [ ]:
# Show top two rows
case_my.tail(2)

          date  cases_new  ...  cluster_detentionCentre  cluster_workplace
600 2021-09-16      18815  ...                     54.0              775.0
601 2021-09-17      17577  ...                     20.0             1055.0

[2 rows x 11 columns]

## Check Malaysia's latest death data

In [ ]:
# Show top two rows
death_my.tail(2)

          date  deaths_new  deaths_new_dod  deaths_bid  deaths_bid_dod
548 2021-09-16         346              41         105               0
549 2021-09-17         388               9          64               0

## Check Malaysia vaccination data

In [ ]:
# Show top two rows
vax_my.tail(2)

          date  daily_partial  daily_full  ...  astra2  cansino  pending
204 2021-09-16          62108      140190  ...   23043     2210    16016
205 2021-09-17          75986      162016  ...   22376     2047     1805

[2 rows x 17 columns]

In [ ]:
# Show top two rows
vax_state.tail(2)

            date           state  daily_partial  ...  astra2  cansino  pending
3294  2021-09-17     W.P. Labuan             45  ...       0        0        0
3295  2021-09-17  W.P. Putrajaya            139  ...       0        0        5

[2 rows x 18 columns]

## Merging/joining our vaccination data with cases and death data
So we can have combined or holistic view of vaccination, covid and death cases as both of the dataset shares the same date.

In [ ]:
final_data = vax_my.merge(case_my, on='date', how='left')

In [ ]:
final_data = final_data.merge(death_my, on='date', how='left')

In [ ]:
final_data["malaysia_pop"] = population_df.iloc[0,2]

In [ ]:
# Show top two rows
final_data.head(2)

        date  daily_partial  ...  deaths_bid_dod  malaysia_pop
0 2021-02-24             60  ...               0      32657400
1 2021-02-25           1146  ...               1      32657400

[2 rows x 32 columns]

## Checking Null Values

In [ ]:
final_data.isnull().sum()

date                       0
daily_partial              0
daily_full                 0
daily                      0
cumul_partial              0
cumul_full                 0
cumul                      0
cumul_partial_child        0
cumul_full_child           0
pfizer1                    0
pfizer2                    0
sinovac1                   0
sinovac2                   0
astra1                     0
astra2                     0
cansino                    0
pending                    0
cases_new                  0
cases_import               0
cases_recovered            0
cluster_import             0
cluster_religious          0
cluster_community          0
cluster_highRisk           0
cluster_education          0
cluster_detentionCentre    0
cluster_workplace          0
deaths_new                 0
deaths_new_dod             0
deaths_bid                 0
deaths_bid_dod             0
malaysia_pop               0
dtype: int64

## Changing date display format (Necessary for Google Sheet)

In [ ]:
final_data['date'] = final_data.date.apply(lambda x: x.strftime('%Y%m%d')).astype(int)

In [ ]:
#Show top two
final_data.head(2)

       date  daily_partial  ...  deaths_bid_dod  malaysia_pop
0  20210224             60  ...               0      32657400
1  20210225           1146  ...               1      32657400

[2 rows x 32 columns]

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
import gspread_dataframe as gd

# Connecting with `gspread` here

gc = gspread.authorize(GoogleCredentials.get_application_default())

## Create Google Sheet called Covid.
Let's go to the file once it has been created. We will manually create two working sheet to understand how to separate our data better.
Create:
1. Data sheet (Vaccination + Cases)
2. State (Vaccination by state)

In [ ]:
sh = gc.create('Covid')

## Saving our vaccination and cases data into worksheet called Data

In [ ]:
ws = gc.open("Covid").worksheet("Data")
existing = gd.get_as_dataframe(ws)

gd.set_with_dataframe(ws, final_data)

## Saving our vaccination by state data into worksheet called State

In [ ]:
ws = gc.open("Covid").worksheet("State")
existing = gd.get_as_dataframe(ws)
gd.set_with_dataframe(ws, vax_state)

# Let's head over to Data Studio to start visualizing it :D